<div class="border rounded-2 pt-3 pb-3 ps-3 mt-1">
  <div class="row justify-content-center align-items-center">
    <div class="col-1 d-flex align-items-center justify-content-center icono">
      A
    </div>
    <div class="col-10 ms-2">
      <h4 class="nombre">{{ alumno.nombreApellidos }}</h4>
      <span style="font-size: 11px">{{ alumno.fechaNacimiento }}</span>
    </div>
    <div class="col-1 puntitos">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        fill="currentColor"
        class="bi bi-three-dots-vertical"
        viewBox="0 0 16 16"
      >
        <path
          d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"
        />
      </svg>
    </div>
  </div>
</div>
